:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #212121;
    --descr-color: #505050;
    --primary-color: #3fd0d4;

    --header-height: 80px;
    --header-alt-height: 70px;
    --slider-height: 420px;
}

::-moz-selection {
    color: var(--white-color);
    background-color: var(--primary-color);
}

::selection {
    color: var(--white-color);
    background-color: var(--primary-color);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.no-select {
    user-select: none;
}

/* Animation  */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes textFadeIn {
    from {
        opacity: 0;
        transform: translateY(25%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content-section__container {
    text-align: center;
    width: 91.25%;
    margin: 0 auto;
}

.title__tagline {
    font-family: 'Satisfy', cursive;
    font-size: 3.3rem;
    line-height: 3.3rem;
    color: var(--primary-color);
    font-weight: 500;
    margin: 32px 0 12px;
}

.title__heading {
    font-size: 6.5rem;
    line-height: 6.5rem;
    color: var(--text-color);
    font-weight: 600;
    letter-spacing: -3px;
    margin: 0 0 50px;
}

.title__text {
    font-size: 1.7rem;
    line-height: 1.7;
    color: var(--descr-color);
    width: 74%;
    text-align: center;
    margin: 0 auto;
}
/*Link Style*/
.link-style {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    line-height: 2.5rem;
    width: 100%;
    display: block;
    transition: color ease-out 0.2s;
}

/* Text underline Animation  */
.text-underline-animation {
    position: relative;
}

.text-underline-animation::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: currentColor;
    transition: width 0.3s ease-out, background-color 0.2s ease-out;
    transform-origin: top left;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/*Subnav icon*/
.subnav-icon {
    margin-right: 20px;
    font-size: 1.2rem;
    position: relative;
    top: 6px;
}

/*Dropdown List*/
.dropdown-list {
    position: absolute;
    list-style: none;
    margin: 0;
    width: 250px;
    background-color: var(--white-color);
    box-shadow: 0 3px 13px rgba(0, 0, 0, 0.03);
    animation: dropDown ease-in 0.5s;
    display: none;
}

@keyframes dropDown {
    0% {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }
    30% {
        opacity: 1;
    }
    100% {
        max-height: 100vh;
        overflow: hidden;
    }
}

/* Modal  */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: fadeIn linear 0.3s;
    will-change: opacity;
    z-index: 10;
    display: none;
}

.open {
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(63, 208, 212, 0.8);
}

.modal-body {
    margin: auto;
    z-index: 1;
    width: 930px;
    height: 84px;
    display: flex;
}

.modal__close {
    font-size: 2.2rem;
    color: var(--white-color);
    position: absolute;
    top: 24px;
    right: 28px;
    z-index: 1;
    padding: 4px;
    opacity: 0.8;
}

.modal__close:hover {
    opacity: 1;
    cursor: pointer;
}

.modal-body__search {
   flex: 1;
   height: 100%;
   border: none;
   outline: none;
   font-size: 1.4rem;
   font-weight: 500;
   padding: 36px;
}

.modal-body input, .modal-body input::-webkit-input-placeholder {
    font-size: 1.5rem;
    font-weight: 500;
    color: #9b9b9b;
}

.modal-body__search-button {
    width: 24%;
    height: 100%;
    border: none;
    outline: none;
    padding: 36px 72px;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #61d1d4;
    color: var(--white-color);
}

.modal-body__search-button:hover {
    cursor: pointer;
    background-color: #3ebabe;
}

/* Modal mobile and tablet  */
.modal-mobile-tablet--active {
    display: flex;
}

.modal__overlay.modal-mobile-tablet__overlay {
    background-color: rgba(255, 255, 255, 0.9);
}

.modal-mobile-tablet-body {
    margin: auto;
    z-index: 1;
    width: 308px;
    min-height: 525px;
    background-color: var(--primary-color);
    display: flex;
}

.auth-form--active {
    display: none;
}

.auth-form__header {
    display: flex;
    height: 52px;
}

.auth-form__heading {
    display: inline-flex;
    width: 50%;
    height: 100%;
    cursor: pointer;
    color: var(--white-color);
    background-color: #3abdc1;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.auth-form__heading--active {
    background-color: var(--primary-color);
}

.auth-form__heading span {
    margin: auto;
}

.auth-form__form-wrapper {
    display: none;
}

.auth-form__form-wrapper--active {
    display: block;
}

.auth-form__form-inner {
    padding: 30px 30px 24px 30px;
}

.auth-form__title {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -1px;
    color: var(--white-color);
    margin: 0;
    padding: 8px 0;
}

.auth-form__description {
    font-size: 1.4rem;
    color: var(--white-color);
    line-height: 1.7;
    margin: 4px 0 24px 0;
}

.auth-form__form .form__input {
    background-color: #6fdcdf;
}

.auth-form__remember {
    display: block;
    margin-top: 16px;
}

#auth-form__rememberme {
    margin: 0;
    position: relative;
    top: 1px;
}

.auth-form__checkbox-label {
    font-size: 1.4rem;
    color: var(--white-color);
    margin-left: 12px;
}

.auth-form__lost-password {
    display: block;
    text-decoration: none;
    color: #26878a;
    font-size: 1.4rem;
    margin-top: 16px;
    transition: color ease-out 0.3s;
}

.auth-form__lost-password:hover {
    color: var(--black-color);
}

.auth-form__form .form__btn {
    margin-top: 20px;
    height: 50px;
    background-color: var(--white-color);
    color: var(--text-color);
}

.auth-form__form .form__btn:hover {
    background-color: #23a9af;
    color: var(--white-color);
}

.auth-form-footer {
    width: 100%;
}

.auth-form-socials-title {
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 400;
    text-align: center;
    margin-bottom: 24px;
}

.auth-form-socials {
    width: 100%;
    display: flex;
}

.auth-form-socials__login-btn {
    text-decoration: none;
    display: inline-flex;
    width: 100%;
    height: 52px;
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #3b5998;
}

.auth-form-socials__login-btn:first-child:hover {
    background-color: #566ea3;
}

.auth-form-socials__login-btn:last-child:hover {
    background-color: #df6150;
}

.auth-form-socials__login-btn span {
    margin: auto;
}

.auth-form-socials__login-btn:last-child {
    background-color: #dd4b39;
}

.btn {
    display: inline-flex;
    min-width: 220px;
    height: 60px;
    border: none;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 600;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    transition: background-color ease-out 0.3s;
    appearance: none;
    -webkit-appearance: none;
}

.btn:hover {
    background-color: #23a9af;
}

/* Dot Button  */
.dot-btn {
    display: inline-block;
    height: 12px;
    width: 12px;
    border: none;
    outline: none;
    border-radius: 50%;
    background-color: rgba(159, 231, 233, 0.5);
    margin-right: 12px;
}

.dot-btn:hover {
    cursor: pointer;
    background-color: var(--primary-color);
}

.dot-btn:first-child {
    margin-left: 12px;
}

.dot-btn--active {
    background-color: var(--primary-color);
}

/* Form  */
.form-wrapper {
    position: relative;
    display: block;
    margin-bottom: 8px;
}

.form-wrapper i {
    font-size: 1.2rem;
    color: var(--white-color);
    position: absolute;
    left: 20px;
    top: 54%;
    transform: translateY(-72%);
}

.form__input {
    border: none;
    outline: none;
    padding: 18px 16px 18px 46px;
    width: 100%;
}

input, input::-webkit-input-placeholder {
    font-size: 1.5rem;
    line-height: 1.6;
    font-weight: 500;
    color: var(--white-color);
}

.btn.form__btn {
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1.5px;
}
